<% layout("../views/layouts/boilerplate.ejs") %>

    <div class="row">
    <div class="col-8 offset-2">
      <br>
    <h2>Edit Complaint details</h2>
    <h3>Don't Panic , We are Looking for your complaint</h3>
    <br>
      
    <form method="post" action="/index/complaint/<%= complaint._id%>?_METHOD=PUT" class="needs-validation" novalidate >
    
        

    <div class="mb-3">
        <label for="opposite_party_details" class="form-label">details of opposite party:</label>
      <input type="text" name="opposite_party_details" id="opposite_party_details"  required value="<%= complaint.opposite_party_details %>" class="form-control">
      <div class="valid-feedback"> looks good</div>
      <div class="invalid-feedback"> details of opposite party should be valid</div>
      </div> 

      
      <div class="mb-3">
      <label for="details" class="form-label">details:</label>
      <textarea name="details" class="form-control" id="details" required ><%= complaint.details %></textarea>
        <div class="valid-feedback">Looks good</div>
      <div class="invalid-feedback">Details should be valid</div>
    </div>


        <div class="mb-3">
      <label for="facts" class="form-label">facts:</label>
      <textarea name="facts" class="form-control" id="facts" required ><%= complaint.facts %></textarea>
        <div class="valid-feedback">Looks good</div>
      <div class="invalid-feedback">facts should be valid</div>
    </div>



        <div class="mb-3">
      <label for="specifics" class="form-label">specifics:</label>
      <input name="specifics" type="text" class="form-control" id="specifics" value="<%= complaint.specifics %>" required >
        <div class="valid-feedback">Looks good</div>
      <div class="invalid-feedback">specifics should not be blank</div>
    </div>


    <div class="row">
         <div class="mb-3 col-md-4">
          <label for="relief" class="form-label">Relief/Remedy Sought:</label>
      <input  name="relief"  required  id="relief" class="form-control"  type="text" value="<%= complaint.relief %>">
         <div class="valid-feedback">Looks good</div>
      <div class="invalid-feedback">Relief/Remedy Sought should be valid</div>    
    </div>
        <div class="mb-3  col-md-8">
     <label for="contact" class="form-label">Contact-Details:</label>
     <input type="text" name="contact" id="contact"  required    class="form-control" value="<%= complaint.contact %>">
         <div class="valid-feedback">Looks good</div>
      <div class="invalid-feedback">Contact-Details  should be valid</div>
    </div>
       </div>
  
      <button id="Mylovelybtn" class="btn btn-dark first-type ">Edit</button>
       <br> <br>
    </form>
  </div>
  </div>
