<% layout("../views/layouts/boilerplate.ejs") %>

    <div class="row">
    <div class="col-8 offset-2">
      <br>
    <h2>Edit Event</h2>
    <br>
      
    <form method="post" action="/index/event/<%= event._id%>?_METHOD=PUT"  enctype="multipart/form-data" class="needs-validation" novalidate >
     <div class="mb-3">
        <label for="eventName" class="form-label">event name:</label>
      <input type="text" value="<%=event.eventName%>"   name="eventName" id="eventName"  required placeholder="Enter your event name" class="form-control">
      <div class="valid-feedback">Event name looks good</div>
      <div class="invalid-feedback">Event name should be valid</div>
      </div> 
        <div class="mb-3">
        <label for="title" class="form-label">title:</label>
      <input type="text"  name="title" id="title"  value="<%=event.title%>"  required placeholder="Enter catchy title" class="form-control">
      <div class="valid-feedback">Title looks good</div>
      <div class="invalid-feedback">Title should be valid</div>
      </div> 
      <div class="mb-3">
      <label for="description" class="form-label">description:</label>
      <textarea name="description"   class="form-control" id="description" placeholder="Enter description"  required ><%=event.description%></textarea>
        <div class="valid-feedback">Looks good</div>
      <div class="invalid-feedback">description should be valid</div>
    </div>


    <div class="row">
         <div class="mb-3 col-md-4">
          <label for="Location" class="form-label">Location:</label>
      <input  name="Location"  required  id="Location" class="form-control" value="<%= event.Location %>">
         <div class="valid-feedback">Looks good</div>
      <div class="invalid-feedback">Location should be valid</div>    
    </div>
        <div class="mb-3  col-md-8">
     <label for="eventDate" class="form-label">Event Date:</label>
     <input type="date" name="eventDate" id="eventDate"  required   value="<%= event.eventDate %>" class="form-control">
         <div class="valid-feedback">Looks good</div>
      <div class="invalid-feedback">event Date  should be valid</div>
    </div>
       </div>

       <div class="mb-3">
      <label for="eventTime" class="form-label">eventTime:</label>
      <input type="text"class="form-control"   value="<%=event.eventTime%>" name="eventTime" id="eventTime"  required>
      </div>

 <div class="mb-3">
   Previous Image:
   <br>
   <img src="<%= url %>" alt="Image is on high load" height="170px">
    </div>



<div class="mb-3">
      <label for="imageUrl" class="form-label">Upload Image:</label>
      <input type="file"class="form-control"   name="imageUrl" id="imageUrl"  required>
      </div>
      <button id="Mylovelybtn" class="btn btn-dark first-type ">Edit</button>
       <br> <br>
    </form>
  </div>
  </div>
